<%= render 'form' %>
  <p class="floatdown">
    <%= link_to "Show", surveyor_gui.surveyform_path(@surveyform) %> | <%# -# FIXME I18n  %>
    <%= link_to "View All", surveyor_gui.surveyforms_path %> <%# -# FIXME I18n  %>
  </p>
