<div id="no_picks_partial_url" data-render_no_picks_partial_url="<%= surveyor_gui.render_no_picks_partial_questions_url%>"></div>
<div id="answer_fields_partial_url" data-answer_fields_partial_url="<%= surveyor_gui.render_answer_fields_partial_questions_url%>"></div>
<div id="render_grid_partial_url" data-render_grid_partial_url="<%= surveyor_gui.render_grid_partial_questions_url%>"></div>
<div id="render_group_inline_partial_url" data-render_group_inline_partial_url="<%= surveyor_gui.render_group_inline_partial_question_groups_url%>"></div>

