<!--<span class='fl'>
  Generate list from a database field?
</span>
<%= f.input :dynamically_generate, :as => :radio_buttons, :label => false, :wrapper_html=>{:class=>'fl notfirst'}, :input_html=>{:class=>'fl notfirst'} %><br /><br />
<div id="dynamic_source">
  Specify statement used to generate list:<br />
  <%= f.input :dynamic_source, :label=>false %>
</div>
-->
<div id="fixed_source">
  <div id='sortable_answers'></div>
</div>
