- if [:pick_one,:pick_any,:dropdown,:number,:date,:datetime,:time,:stars,:slider,:grid_one, :grid_any, :grid_dropdown].include? q.question_type_id
  %tr{:class => q.surveyresponse_class(@response_sets)}
    %td.spacer &nbsp;
  %tr{:class => q.surveyresponse_class(@response_sets)}
    %td.spacer
    %td.spacer
    %td.spacer
      - if q.display_type=='stars'
        - 10.times.each do |index|
          %input{name: "star#{q.id.to_s}", type: "radio", class: "star {split:2}", disabled: "disabled", checked: (index+1)==star_average(@responses,q) ? "checked" : nil} 
      - else
        - chartinfo = @chart[q.id.to_s]
        %div{id: "chart-#{q.id}", class: "report-chart.#{chartinfo[:method]}"}
          = self.send( chartinfo[:method].to_sym, chartinfo[:data], chartinfo[:options] )
