<% content_for :javascript_for_view do %>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<% end %>


<br />
<div class="column3">
  <div class="shadebox round surveyor_gui_report">
    <div id="Survey">
      <h1 class="round-top"><%= @title %></h1>
      <h2><%= @survey.title %></h2>
      <%= render 'show_report' %>
    </div>
  </div>
</div>
