%tr.grid-response-answers
  %td.spacer &nbsp;
  %td.spacer &nbsp;
  %td.spacer &nbsp;
  - question_group.questions.first.answers.each do |answer|
    %td.grid-answer-label
      = answer.text
- question_group.questions.is_not_comment.each_with_index do |question, index|
  %tr.grid-question-row{class: index==0 ? "first_row" : nil}
    %td.spacer &nbsp;
    %td.spacer &nbsp;
    %td.grid-question-text
      = question.text
    - question.answers.each do |answer|
      %td.grid-answer
        - if Response.where(response_set_id: @response_set.id, question_id: question.id, answer_id: answer.id).count > 0 
          x
/ retrieve comments, if any
= render "surveyor_gui/shared/grid_comments", question_group: question_group
= render "surveyor_gui/shared/new_line"
