.column2
  .shadebox.round
    #survey_response
      %h1.round_top
        = @title
      %br
      - if @response_sets.where(test_data: false).empty?
        %br
        Sorry, no responses available yet. &nbsp;Ask some people to take the survey.
        %br
      - else
        %table
          %tr
            %th User
            %th Action
          - @response_sets.where(test_data: false).each do |response_set|
            %tr
              %td
                = response_set.report_user_name
              %td
                = link_to "Response", response_path(response_set)
      %br
      %p
        = link_to "Manage Surveys", surveyforms_path
